#hero-section{
    border: 1px solid black;
    height: 100vh;
    position: relative;

        #button-primary{
        position: absolute;
        top: 75%;
        left: 5%;
        height: 15%;
        width: 20%;

        font-size: 40px;
        }
}

#txt-box{
//  border: 1px solid black;
 position: absolute;
 top: 30%;
 left: 5%;

}

#header{
    font-size: 40px;
    margin-bottom: 10%;
}

#txt{
    font-size: 25px;
}

#car-preview-section{
    // border: 1px solid black;
    height: 85%;
    position: absolute;
    right: 0px;


    #bg{
        position: absolute;
        right: 0px;
        z-index: -1;
    }

    #car-img{
        position: absolute;
        right: 3%;
        top: 15%;
    }

    #car-name{
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 40px;
        text-align: center;
        right: 25%;
        bottom: 5%;
        text-shadow: 0px 4px 4px #47c4fb;
        color: white;
    }

}


