#hero-section{
    height: 100vh;
    width: 100%;
    // border: 1px solid blue;
    display: flex;
}

#l-side{
    // border: 1px solid red;
    height: 100%;
    width: 40%;
    position: relative;
}

#txt-box{
    position: absolute;
    left: 35.98px;
    top: 298px;
    // border: 1px solid black;
    width: 432px;
    margin-bottom: 96px;
}

#p-txt {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    line-height: 29px;
    margin-bottom: 63px;
}

#s-txt {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 29px;
}

#gallery-btn{
    width: 250px;
    height: 70px;
    justify-content: space-between;
    padding: 0 7%;
    position: absolute;
    left: 73px;
    top: 500px;
    font-family: 'Roboto';
    font-size: 22px;
}



#r-side{
    // border: 1px solid yellow;
    height: 100%;
    width: 60%;
    position: relative;
}

#preview-bg{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(859/818*100%);
    min-width: 712px;
}

#active-preview{
    position: absolute;
    left: 10%;
    top: 12%;
}

#preview-label{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 150px;
    top: 460px;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px #47C4FB;

    // color: #47C4FB;

    // text-shadow: 0px 4px 4px #AAE2FB;
}

#book-button{
    width: 230px;
    height: 60px;
    position: absolute;
    top: 85%;
    left: 23%;
    font-family: 'Roboto';
    color: white;
    font-size: 30px;
}



//////// --- Media Queries --- ////////

@media (max-width: 1240px) {
    #preview-label{
        color: #47C4FB;
        text-shadow: 0px 4px 4px #AAE2FB;
    }
}

@media (max-width: 1060px) {
   #preview-bg{
       display: none;
   } 
   
   #l-side{
       width: 50%;
   }

   #r-side{
       width: 50%;
       background: #AAE2FB;
   }

   #active-preview{
       top: 1%;
       left: -55%;
       width: calc(665/526.5*100%);
   }

   #preview-label{
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #47C4FB;
    width: 100%;
    left: 0;
    // border: 1px solid black;
   }
}

@media (max-width: 930px){
    #txt-box{
        width: 380px;
    }
    #gallery-btn{
        top: 550px;
        left: 35px;
    }
}

@media (max-width: 755px){
    #txt-box{
        width: 280px;
    }
}

@media (max-width: 630px){
    #txt-box{
        width: 220px;
    }

    #s-txt{
        font-size: 19px;
    }

    #gallery-btn{
        width: 210px;
    }

    #book-button{
        left: 10%;
        top: 65%;
    }

    #preview-label{
        top: 300px;
    }

    #active-preview{
        top: 5%;
    }

}
