
#nav-bar{
    height: 48px;
    padding: 0 4px;
    position: fixed;
    width: 100%;
    // border: 1px solid black;
}

#main-logo{
    height: 40px;
}

#links{
    width: 70%;
}

#left-links{
    width: 30%;
    // border: 1px solid red;
}

#right-links{
    width: 25%;
    // border: 1px solid greens;
}

